body{
	background-color:#101010;
	padding: 5px;
	margin: 0px;
	border:solid 3px rgb(201, 221, 242);
	width:auto;
	height:auto;
	display:block;
}
input{
	background-color:#000000;
	color:#FFFFFF;
}
button{
	background-color:inherit;
	color:#FFFFFF;
}
#SetReStyleElemsNumAtOneTime{
	background-color:inherit;
	color:#FFFFFF;
	border:none;
	width:90px;
}
#minFontSizeAddButton,#minFontSizeSubButton{
	border:none;
	padding:0px;
	margin:0px;
}
.optionBlock{
	margin-bottom:5px;
	padding:0px;
	border:solid 2px #A0A0A0;
	color:#D0D0D0;
}
.optionBlock:hover{
	background-color:#171C21;
}
.attension{
	color:#DFDF00;
}

#ShowDomainElem{
	color:#FFFFFF;
}
#ShowUrl{
	color:#FFFFFF;
}
#OpenOptionForAllElem{
	cursor:pointer;
	color:#FFFFFF;
}
#OpenOptionForAllElem:hover{
	background-color: #555;
}

/*toolTip*/
.toolTip {
	position: relative;
}
.toolTip:hover {
	background-color: #272C31;
}
.toolTip .toolTipText {
	visibility: hidden;
	background-color: #272C31;
	border: solid 2px #E8E8E8;
	color: #E8E8E8;
	padding: 5px;
	border-radius: 20px;
	left:300px;
	right:0px;
	/*顯示在下方*/
	top:100%;

	/* 顯示位置固定 */
	position: absolute;
	/*最上層*/
	z-index: 1;
	/*0.5秒淡出動畫*/
	
}
.toolTip:hover .toolTipText {
	visibility: visible;
}
#ShowInfoElemId{
	padding: 5px;
	border-radius: 20px;
	position: fixed;
	right:0px;
	bottom:0px;
	visibility: hidden;
	background-color: black;
	border:2px white solid;
	color:white;
	max-width: 100%;
	z-index: 2;
}
.selectBlock{
	background-color: rgb(0, 50, 0);
	/*box-sizing: content-box;*/
	display:inline-block;
	padding:0px;
	margin:0px;
}
.option{
	/*box-sizing: content-box;*/
	display: inline-block;
	padding:0px;
	margin:0px;
	border:1px solid white;
	color:#D0D0D0;
}
.activeOption{
	background-color: rgb(24, 126, 10);
	color:white;
}
#OpenOptionForAllPage,#showDomainElemId{
	color:white;
}
#OpenOptionForAllPage:hover{
	background-color:#404040;
	cursor: pointer;
}