body{
	font-size:26px;
	background-color:#101010;
	color:white;
	border:solid 3px rgb(101, 121, 142);
	width:auto;
	height:auto;
	display:block;
}
input{
	background-color:#000000;
	color:#FFFFFF;
	font-size:26px;
	margin:5px;
}
button{
	background-color:inherit;
	color:#FFFFFF;
	font-size:26px;
	margin:5px 0px 5px 5px;
}
#SetReStyleElems{
	background-color:inherit;
	color:#FFFFFF;
	font-size:26px;
	border:none;
	width:90px;
}
#minFontSizeAddButton{
	font-size:8px;
	display: block;
	border:none;
	vertical-align: text-top;
}
#minFontSizeSubButton{
	font-size:8px;
	display: block;
	border:none;
	vertical-align: text-bottom;
}
.minFontSizeModifyTool{
	display: inline-block;
}
.optionBlock{
	border:solid 2px #808080;
	color:#D0D0D0;
	margin:5px;
}
.optionBlock:hover{
	background-color:#171C21;
}
.hover{
	/*color:#DFDF00;*/
}
.zhTip{
	font-size:24px;
}
.engTip{
	font-size:22px;
}
.zhOptionName{
	color:rgb(203, 220, 254);
	font-size:26px;
}
.engOptionName{
	color:rgb(203, 220, 254);
	font-size:22px;
}
.zhText{
	font-size:26px;
	box-sizing: content-box;
}
.engText{
	font-size:22px;
	box-sizing: content-box;
}

#ShowDomainElem{
	color:#FFFFFF;
}
#ShowUrl{
	color:#FFFFFF;
}
#GoGlobalSetting{
	cursor:pointer;
	color:#A0A020;
}
#GoGlobalSetting:hover{
	background-color: #555;
}

/*tooltip*/
.tooltip {
	position: relative;
}
.tooltip:hover {
	background-color: #272C31;
}
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #272C31;
	border: solid 2px #E8E8E8;
	color: #E8E8E8;
	padding: 5px;
	border-radius: 20px;
	left:300px;
	right:0px;
	/*顯示在下方*/
	top:200%;

	/* 顯示位置固定 */
	position: absolute;
	/*最上層*/
	z-index: 1;
	/*0.5秒淡出動畫*/
	
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
#CantAccessInfo{
	border-radius: 20px;
	position: fixed;
	right:0px;
	bottom:0px;
	visibility: hidden;
	background-color: black;
	border:2px white solid;
	color:white;
	max-width: 100%;
	z-index: 2;
}
.SelectBlock{
	display:inline-block;
	/*white-space: nowrap;*/
}
.option{
	/*box-sizing: content-box;*/
	display: inline-block;
	/*border:none;*/
	color:#D0D0D0;
}
.activeOption{
	background-color: rgb(24, 126, 10);
	color:white;
}
#OpenOptionForAllPage{
	color:white;
}
#OpenOptionForAllPage:hover{
	background-color:#404040;
	cursor: pointer;
}