*{
	vertical-align: middle;
}
body{
	padding:0px;
	margin:0px;
	background-color:#101010;
	color:#D0D0D0;
	border-width:0.1em;
	border-color:rgb(101, 121, 142);
	border-style:solid;
	height:auto;
}
button,#goGlobalSettingButton,#supportDeveloperButton,.option{
	background-color:inherit;
	color:#FFFFFF;
	margin:0.1em 0px 0.1em 0.1em;
	padding:0px;
	border-width:0.05em;
	border-color:#FFFFFF;
	border-style:solid;
	display:inline-block;
	cursor:initial;
	user-select:none;
	-moz-user-select: none;
	-webkit-user-select: none;
	max-width:90vw;
}
select,option,optgroup{
	background-color:#101010;
	color:#D0D0D0;
	max-width:95vw;
}
.optionBlock{
	border:solid 0.1em #808080;
	color:#D0D0D0;
	margin:0.1em;
}
.optionBlock:hover{
	background-color:#171C21;
}

.optionName{
	color:rgb(203, 220, 254);
}

/*tooltip*/
.tooltip {
	position: relative;
	/*display:inline-block;*/
}
.tooltip:hover {
	background-color: #272C31;
}
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #272C31;
	border: solid 0.1em #E8E8E8;
	color: #E8E8E8;
	padding: 0.1em;
	border-radius: 0.4em;
	left:15%;
	right:0%;
	/*顯示在下方*/
	top:auto;
	bottom:100%;
	/* 顯示位置固定 */
	position: absolute;
	/*最上層*/
	z-index: 1;
	/*0.5秒淡出動畫*/
	font-size:0.9rem;
	line-height:1em;

	pointer-events:none;
	opacity: 0.9;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.option{
	filter:brightness(0.5);
}
.active.option,.active.option *{
	background-color: rgb(24, 50, 10);
	color:white;
	filter:brightness(1);
}