.sliderContainer{
}
.slider {
	vertical-align:middle;
	height: 1em;
	background-color: transparent;
	outline: none;
	-moz-appearance: none;
	max-width:60vw;
	min-width:30vw;
	margin:0px;
	border-width:0px;
	/*-webkit-appearance: none;   Override default CSS styles */
}

.slider::-moz-range-thumb {
	width: 0.8em;
	height: 0.8em;
	background-color: #004000;
	/*border-color: #004000;*/
	border-width:0.1em;
	cursor: pointer;
}

/*.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background-color: #4CAF50;
	cursor: pointer;
}*/

